html,
body {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.montserrat-light {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-style: normal;
}


#title-bar {
    height: 100px;
}

#title-bar h1 {
    margin: 0;
    text-align: center;
    padding: 30px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #1e293b;
}

.nav-bar {
    display: flex;
    gap: 16px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.title-to-do-list {
    text-align: center;
}