html,
body {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.montserrat-light {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-style: normal;
}


#title-bar {
    height: 100px;
}

#title-bar h1 {
    margin: 0;
    text-align: center;
    padding: 30px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #1e293b;
}

.nav-bar {
    display: flex;
    gap: 16px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
}


.container-login {
    min-height: 80vh;
    /* ocupa toda la altura de la ventana */
    display: flex;
    justify-content: center;
    /* centra horizontal */
    align-items: center;
    /* centra vertical */

    background-color: #f2f2f2;
    /* fondo de la página */
}

/* 2️⃣ Caja del login */
.container-login-input {
    background-color: white;
    padding: 2rem;
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* espacio entre elementos */

    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.container-login-input h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.container-login-input label {
    font-weight: bold;
}

.container-login-input input {
    padding: 0.5rem;
    font-size: 1rem;
}

.button-login {
    background-color: #16a34a;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    box-shadow: 0 px 12px rgba(0, 0, 0, 0.1);
}